<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
<h3>Author: // {{ author_data.name }} //</h3>

<h3>About:</h3>
<p>{{author_data.bio}}</p>

</head>
<body>
    <h5>Recipes by the author, </h5>
        <ul>
            {% for recipe_data in data %}
                {% if recipe.author_data == author_data %}
                <li><a href="/recipes/{{recipe.id}}/">{{recipe.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    
</body>
</html>